//- Все примеси в этом файле должны начинаться c имени блока (main-nav)

mixin main-nav(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-nav('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-nav--' + modsList[i].trim();
      }
    }

  nav.main-nav#main-nav(class=allMods)&attributes(attributes)
    block

mixin main-nav-item(href, text, mods)

  //- Принимает:
  //-   href    {string} - ссылка на страницу
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-nav-item('some/url', 'Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-nav--' + modsList[i].trim();
      }
    }

  li.main-nav__item(class=allMods)&attributes(attributes)
    a.main-nav__link(href!= href)!= text

