//- Все примеси в этом файле должны начинаться c имени блока (main-nav-toggler)

mixin main-nav-toggler(src, mods)

  //- Принимает:
  //-   src     {string} - адрес изображения
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-nav-toggler('Текст', 'some/src', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-nav-toggler--' + modsList[i].trim();
      }
    }

  .main-nav-toggler(class=allMods)&attributes(attributes)
    span Открыть меню
    svg.main-nav-toggler__icon
      use(xlink:href!= src)
