// В этом файле должны быть стили для БЭМ-блока promo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo {

  $block-name:                &; // #{$block-name}__element
  position: relative;
  min-height: 500px;
  height: 100vh;

  @media (min-width: $screen-lg) {
    min-height: 600px;
  }

  @media (min-width: $screen-xxl) {
    min-height: 700px;
  }

  @media (min-width: $screen-xxl) {
    min-height: 1080px;
  }

  &--blur {
    filter: blur(10px);
  }

  &__planet-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &__planet {
    position: absolute;
    content: '';
    top: 95px;
    right: 0;
    min-width: 150px;
    min-height: 150px;
    width: 50vw;
    height: 50vw;

    @media (min-width: $screen-sm) {
      top: 110px;
      right: -5%;
    }

    @media (min-width: $screen-md) {
      top: 150px;
      right: -5%;
    }

    @media only screen and (orientation: landscape) {
      top: 150px;
      right: -20%;
    }

    @media (min-width: $screen-xl) {
      top: 46%;
      right: -40%;
      width: 600px;
      height: 600px;
    }

    @media (min-width: $screen-xxl) {
      width: 783px;
      height: 783px;
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__content {
    @include container-fluid();
    position: relative;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__logo {
    max-width: 100%;
    width: 100%;
    height: auto;
    fill: #fff;
  }

  &__text {
    display: none;
    font-size: 28px;
    font-weight: 700;

    @media (min-width: $screen-sm) {
      font-size: 34px;
    }

    @media (min-width: $screen-md) {
      font-size: 40px;
    }

    @media (min-width: $screen-xl) {
      font-size: 86px;
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    };
  }

  &__lang {
    @include container-fluid();
    position: absolute;
    top: auto !important;
    bottom: 30px !important;
    right: 0 !important;
    display: block;
    margin-top: auto;
    margin-left: auto;
    text-align: right;
    z-index: 10;

    @media (min-width: $screen-md) {
      bottom: 50px !important;
    }
  }

  &__lang-link {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
}
