// В этом файле должны быть стили для БЭМ-блока contact-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact-form {

  $block-name:                &; // #{$block-name}__element

  @media (min-width: $screen-md) {
    display: flex;
  }

  &__fields {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border: none;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      width: calc(100% - 210px);
    }
  }

  &__note {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    line-height: 1.44;
    font-size: 14px;

    @media (min-width: $screen-md) {
      padding-top: 28px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg) {
      font-size: 18px;
    }
  }

  &__submit {

    @media (min-width: $screen-md) {
      order: -1;
      padding-top: 15px;
      width: 210px;
    }
  }

  .field-text {
    margin-bottom: 20px;
  }
}
