// В этом файле должны быть стили для БЭМ-блока greeting, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.greeting {

  $block-name:                &; // #{$block-name}__element
  position: relative;
  display: flex;
  align-items: center;
  background: transparent;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  font-family: $font-family;
  font-weight: 700;
  padding: 0;
  z-index: 10;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media (min-width: $screen-md) {
    font-size: 20px;
  }

  &__icon {
    margin-right: 15px;
    width: 45px;
    height: 60px;
  }
}
