//- Все примеси в этом файле должны начинаться c имени блока (greeting)

mixin greeting(title, src, isBtn, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +greeting('Текст', 'some/src', true, 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' greeting--' + modsList[i].trim();
      }
    }

  if (typeof(isBtn) !== 'undefined' && isBtn)
    button.greeting(class=allMods)&attributes(attributes)
      svg.greeting__icon
        use(xlink:href!= src)
      .greeting__title!= title

  else
    .greeting(class=allMods)&attributes(attributes)
      svg.greeting__icon
        use(xlink:href!= src)
      .greeting__title!= title
