// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: $font-size;
  font-family: inherit;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: 0;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
  }

  &:visited {
    color: $text-color;
  }

  &--icon {
    font-weight: 700;
    font-size: 26px;

    @media (min-width: $screen-sm) {
      font-size: 34px;
    }

    @media (min-width: $screen-md) {
      font-size: 46px;
    }

    @media (min-width: $screen-xl) {
      font-size: 80px;
    }

    &:first-child {
      position: relative;

      &:after {
        content: ' \00a0 /\00a0';
      }
    }

    > svg {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      margin-left: 20px;

      @media (min-width: $screen-lg) {
        width: 100px;
        margin-left: 27px;
      }
    }

  }
}
