// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: $font-size;
  font-family: inherit;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: 0;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
  }

  &:visited {
    color: $text-color;
  }

  &--icon {
    font-weight: 700;
    font-size: 26px;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }

    &:visited {
      color: #fff;
    }

    @media (min-width: $screen-sm) {
      font-size: 34px;
    }

    @media (min-width: $screen-md) {
      font-size: 46px;
    }

    @media (min-width: $screen-lg) {
      font-size: 80px;
    }

    > svg {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      margin-left: 20px;
      fill: #000;
      transition: all 0.3s ease-in-out;

      @media (min-width: $screen-lg) {
        width: 100px;
        margin-left: 27px;
      }
    }
  }

  &--icon-revert {
    font-weight: 700;
    font-size: 26px;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }

    &:visited {
      color: #fff;
    }

    @media (min-width: $screen-sm) {
      font-size: 34px;
    }

    @media (min-width: $screen-md) {
      font-size: 46px;
    }

    @media (min-width: $screen-lg) {
      font-size: 80px;
    }

    > svg {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      margin-right: 20px;
      fill: #000;
      transition: all 0.3s ease-in-out;

      @media (min-width: $screen-lg) {
        width: 100px;
        margin-right: 27px;
      }
    }
  }

  &--round {
    padding: 5px;
    width: 145px;
    height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    color: $green;
    border: 7px solid $green;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      font-size: 36px;
    }

    &:hover,
    &:active {
      color: #000;
      background: $green;
    }
  }
}

#show-more {
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-bottom: 35px;

  @media (min-width: $screen-md) {
    margin-bottom: 0;
    margin-right: 100px;
  }

  @media (min-width: $screen-lg) {
    margin-right: 125px;
  }

  &:hover,
  &:active {

    > svg {
      fill: #fff;
    }
  }

  &:after {
    display: none;
    position: absolute;
    content: '/';
    top: 50%;
    right: -70px;
    transform: translateY(-50%);
    font-size: 76px;
    font-weight: 300;

    @media (min-width: $screen-md) {
      display: inline-block;
      vertical-align: middle;
    }

    @media (min-width: $screen-lg) {
      font-size: 136px;
      right: -100px;


    }
  }
}

#contact-us {
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active {

    > svg {
      fill: #FF0000;
    }
  }
}
