//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ../blocks/greeting/greeting.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/btn/btn.pug
include ../blocks/portfolio/portfolio.pug
include ../blocks/nav-toggler/nav-toggler.pug
include ../blocks/modal/modal.pug
include ../blocks/contact-form/contact-form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/newcomers/newcomers.pug
include ../blocks/about/about.pug
