//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ../blocks/page-header/page-header.pug
include ../blocks/greeting/greeting.pug
include ../blocks/main-nav-toggler/main-nav-toggler.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/portfolio/portfolio.pug
