// В этом файле должны быть стили для БЭМ-блока portfolio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.portfolio {

  $block-name:                &; // #{$block-name}__element
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $screen-sm) {
    padding-top: 50px;
  }

  @media (min-width: $screen-md) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 100px;
    padding-bottom: 220px;
  }

  &__inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1360px;
  }

  &__items {
    position: relative;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
    }

    &:after {
      content: '';
      flex: auto;
    }
  }

  &__img {
    display: block;
    min-width: 40%;
    max-width: 60%;
    height: auto;
    max-height: 85%;

    @media (min-width: $screen-xl) {
      max-width: 40%;
    }

  }

  &__item-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      width: 50%;

      &:last-child {
        margin-bottom: 30px;
      }
    }

    @media (min-width: $screen-lg) {
      width: 33.3%;
    }

    @media (min-width: $screen-xl) {
      width: 25%;
    }

    &--large {

      @media (min-width: $screen-lg) {
        width: 66.6%;
      }

      @media (min-width: $screen-xl) {
        width: 50%;
      }

      .portfolio__item {

        @media (min-width: $screen-lg) {
          width: 600px;
        }

        @media (min-width: $screen-xl) {
          width: 680px;
        }
      }

      .portfolio__descr {

        @media (min-width: $screen-lg) {
          height: 600px;
        }

        @media (min-width: $screen-xl) {
          height: 680px;
        }
      }

      .portfolio__img {
        max-width: 80%;

        @media (min-width: $screen-xl) {
          max-width: 65%;
        }
      }
    }
  }

  &__descr {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    padding: 20px 30px;
    overflow: hidden;
    z-index: 100;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: transparent;
    border-radius: 50%;

    @media (min-width: $screen-xl) {
      width: 340px;
      height: 340px;
    }

    &:hover,
    &:active {

      .portfolio__descr {
        display: flex;
      }
    }
  }

  &__name {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      font-size: 24px;
    }

    @media (min-width: $screen-lg) {
      font-size: 26px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.5;

    @media (min-width: $screen-md) {
      font-size: 17px;
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .vanishIn {
    animation-name: vanishIn;
  }

  @keyframes vanishIn {
    0% {
      opacity: 0;
      transform-origin: 0 50%;
      transform: scale(2, 2) translate(-50%, -50%);
      filter: blur(90px);
    }

    100% {
      opacity: 1;
      transform-origin: 0 50%;
      transform: scale(1, 1) translate(-50%, -50%);
      filter: blur(0px);
    }
  }
}
