// В этом файле должны быть стили для БЭМ-блока deep, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.deep {

  $block-name:                &; // #{$block-name}__element
  @include container();
  position: relative;
  padding-top: 30px;
  z-index: 100;
  line-height: 1.4;

  @media (min-width: $screen-sm) {
    padding-bottom: 40px;
  }

  @media (min-width: $screen-md) {
    padding-bottom: 100px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 100px;
  }

  &__eye {
    position: relative;
    top: 10px;
    width: 40px;
    height: 35px;

    @media (min-width: $screen-md) {
      top: 20px;
      width: 87px;
      height: 83px;
    }
  }
}
