// Цвета
$green:                       #ccff00;


// Семантические цвета
$main-color:                  #ccff00;
$text-color:                  #fff;
$link-color:                  $text-color;
$link-color--hover:           $text-color;


// Базовая типографика


$font-size:                   16px;

$font-family:                 'Geometria', Arial, sans-serif;
$font-family--headings:       $font-family;



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1366px;
$screen-xxl:                  1920px;

$screen-xs-max:               ($screen-sm - 1);
$screen-sm-max:               ($screen-md - 1);

$container-sm:                100%;
$container-md:                100%;
$container-lg:                960px;
$container-xl:                1230px;
$container-xxl:               1230px;


// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           28px;



// Разное

$z-index-modal:               100;
$transition-time:             0.3s;
